body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::selection {
  color: white;
  background: #07b53b ;
}

.btn-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}

.btn-div > .search-group {
  /* width: 50%; */
}

.btn-div > .addbtn-div {
  margin-top: 1%;
}

.collapse.show {
  min-height: 160px;
}

.uploaded-files-list {
  display: flex;
  flex-wrap: wrap;
}

.uploaded-files {
  border: 1px solid #0d6efd;
  margin: 5px 5px;
  border-radius: 5px;
  padding: 2px 10px;
  color: #0d6efd;
}

.file-icon {
  margin:   5px 0px 5px 5px
}
